h1 {
    font-size: 41px;
    text-align: center;
    color: $blue;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}

.padded {
    padding-top: 5em;
    padding-bottom: 5em;
}

a {
    color: #469AE0;
    text-decoration: none;
    text-align: center;
}

.img-circle {
  border-radius: 50px;
  height: 100px;
  margin: 50px;
}

.mail {
  text-align: center;
}

