<h1>Our Team</h1>

<ul class="list-inline text-center">
  <% ["anne", "seb", "romain"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpg", class: "img-circle" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
<div class="mail">
  <a href="mailto:contact@airbnb.com">
    <i class="fa fa-envelope"></i> contact@airbnb.com
  </a>
</div>


